name: 'Roll20 Scripts'
scopeName: 'source.roll20'
type: 'tree-sitter'
parser: 'tree-sitter-roll20-script'
fileTypes: [
  'roll20'
]
scopes:
  'roll20_script': 'source.roll20'
  'attribute': 'variable.other.attribute.roll20'
  'ability': 'variable.other.ability.roll20'
  'macro': 'support.function.roll20'
  'rollQuery': 'storage.type.function.roll-query.roll20'
  'rollQuery > prompt': 'string.interpolated.roll20'
  'rollQuery > defaultValue': 'string.interpolated.roll20'
  'rollQuery > optionName': 'string.interpolated.roll20'
  'rollQuery > optionValue': 'string.interpolated.roll20'
  'inlineRoll': 'storage.type.function.inline-roll.roll20'
  'formula': 'meta.formula.roll20'
  '_operator': 'keyword.operator.roll20'
  'label': 'string.unquoted.label.roll20'
  'parenthesized > _$parenLeft': 'punctuation.definition.formula.begin.bracket.round.roll20'
  'parenthesized > _$parenRight': 'punctuation.definition.formula.end.bracket.round.roll20'
  '_function_start': 'entity.name.function.roll20'
  '_function_start > _$parenLeft': 'punctuation.definition.formula.begin.bracket.round.roll20'
  'diceRoll > _$diceRoll': 'punctuation.definition.dice-roll.roll20'
  
  'htmlEntity': 'constant.character.escape.roll20'
  '_number': 'constant.numeric.roll20'
  'invalid': 'invalid.roll20'
